body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.pagina-inicial {
    background: #fff url(./img/header.png);
    height: 100px;
    width: 100%;
}

.logo {
    float: left;
    padding: 5px;
    width: 40%;
    margin-top: 12px;
    margin-left: 120px;
}

.menu ul li {
    margin-top: 20px;
    margin-left: 15px;
    display: inline-block;
    list-style: none;
}

.menu {
    width: 50%;
    float: right;
}

.menu ul li a {
    color: azure;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
}

.p-1 {
    font-size: 30px;
    color: azure;
}

h1 {
    color: darkblue;
}

p {
    font-weight: 700;
    color: darkblue;
}

.meio {
    text-align: center;
}

.p-2 {
    color: darkblue;
    font-size: 30px;
}

.p-3 {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.form {
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

.depoimentos {
    text-align: center;
}

.footer {
    background: #fff url(./img/header.png);
    height: 90px;
    width: 100%;
}

.a {
    color: azure;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 12px;
    margin-left: 90px;
    display: inline-block;
    list-style: none;
}

.redes ul li {
    margin-top: 12px;
    margin-left: 15px;
    display: inline-block;
    list-style: none;
}

.redes {
    width: 50%;
    float: right;
}