body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.pagina-inicial {
    background: #fff url(./img/header.png);
    height: 100px;
    width: 100% auto;
}

.logo {
    float: left;
    padding: 5px;
    width: 40%;
    margin-top: 12px;
    margin-left: 120px;
}

.menu ul li {
    margin-top: 12px;
    margin-left: 12px;
    display: inline-block;
    list-style: none;
}

.menu {
    width: 50%;
    float: right;
}

.menu ul li a {
    color: azure;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
}

h1 {
    color: darkblue;
    text-align: center;
    font-size: 30px;
}

.form {
    align-items: center;
    text-align: center;
}
 

.footer {
    position: absolute;
    bottom: 0;
    background: #fff url(./img/header.png);
    height: 90px;
    width: 100%;
}

.a {
    color: azure;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 12px;
    margin-left: 90px;
    display: inline-block;
    list-style: none;
}

.redes ul li {
    margin-top: 12px;
    margin-left: 15px;
    display: inline-block;
    list-style: none;
}

.redes {
    width: 50%;
    float: right;
}